<!DOCTYPE html>
<html lang="sv-SE">
  <%- include ('partials/head') %> 
  <body>
    <%- include ('partials/header') %> 
    <main>
      <section class="section">
        <div class="container">
          <div class="white-color mb-6">
            <h1 class="title is-1">Artiklar</h1>
            <h2 class="subtitle is-4">Tips &amp; tricks inom Javascript och rent allmänt tjöt.</h2>
          </div>
          <div class="columns">
            <% for (post of posts) { %>
              <% const file = matter.read('blog/' + post); %> 
                <div class="column">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4 by-3">
                        <img src="<%- file.data.image %>" alt="">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media-content">
                        <p class="title is-4 mb-3"><%= file.data.title %></p>
                      </div>
                      <div class="content">
                        <%= file.data.description %>  
                        <br>
                      <div class="publish-date">
                        <svg class="icon-calender" stroke="currentColor" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                        <time class="date" datetime="<%= file.data.dateTime  %> "><%- file.data.date %></time>
                      </div>
                      </div>
                      <a role="button" href="/blog/<%= post.slice(0, -3) %>" title="Läs om codepen" class="button has-text-weight-bold">Läs</a>
                    </div>
                  </div>
                </div>
            <% } %>
          </div>
      </section>
    </main>
  <%- include ('partials/footer') %>
  </body>
</html>
