<html>
  <%- include ('partials/head') %> 
  <body>
    <%- include ('partials/header') %> 
    <div id="blog">
      <% for (post of posts) { %>
        <% const file = matter.read('blog/' + post); %> 
        <a href="/blog/<%= post.slice(0, -3) %>">
          <div class="post">
            <%= file.data.title %>  
            <%= file.data.description %>  
          </div>
        </a>
      <% } %>
    </div>
    <%- include ('partials/footer') %> 
  </body>
</html>