<html>
  <%- include ('partials/head') %> 
  <body>
    <%- include ('partials/header') %> 
    <main>
      <section class="section">
        <div class="container">
          <div class="white-color mb-6">
            <h1 class="title is-1">Artiklar</h1>
            <h2 class="subtitle is-4 white-color">Tips &amp; tricks inom Javascript och rent allmänt tjöt.</h2>
          </div>
          <div class="columns">
            <% for (post of posts) { %>
              <% const file = matter.read('blog/' + post); %> 
                <div class="column">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4 by-3">
                        <img src="<%- file.data.image %>" alt="">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media-content">
                        <p class="title is-4 mb-3"><%= file.data.title %></p>
                      </div>
                      <div class="content">
                        <%= file.data.description %>  
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1"><%- file.data.date %></time>
                      </div>
                      <a href="/blog/<%= post.slice(0, -3) %>" title="Läs om codepen" class="button has-text-weight-bold">Läs</a>
                    </div>
                  </div>
                </div>
            <% } %>
          </div>
      </section>
    </main>
  <%- include ('partials/footer') %>
  <script src="./js/index.js"></script>
  </body>
</html>
