<!DOCTYPE html>
<html lang="sv-SE">
  <%- include ('partials/head') %>
  <body>
    <%- include ('partials/header') %>
    <main>
      <section class="container">
        <header class="has-text-centered">
          <h1 class="is-1 is-size-3-mobile title white-color"><%= title %></h1>
          <div class="intro text">
            <strong><%= description %> - <%= date %></strong>
          </div>
        </header>
        <article><%- post %></article>
      </section>
    </main>
    <section class="section"><%- include ('partials/footer') %></section>
    <script src="../js/index.js"></script>
  </body>
</html>
